body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    text-align: center;
}

input {
    width: 65%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    background: #c8f7c5;
}
